In [ ]:
from itertools import combinations
from os import path
import os
from random import choice, choices, sample, seed
from string import ascii_lowercase
import pandas as pd
import re
import urllib

parent_path = os.path.abspath(os.path.join(os.getcwd(), os.pardir))
os.chdir(parent_path)

In [2]:
from comchoice.datasets import load_synthetic_election

In [3]:
data = load_synthetic_election(alternatives=["Alpha", "Beta", "Gamma", "Omega"], random_state=22, n_voters=1000)
data

                      rank  voters
0   Alpha>Beta>Gamma>Omega      36
1   Alpha>Beta>Omega>Gamma      38
2   Alpha>Gamma>Beta>Omega      36
3   Alpha>Gamma>Omega>Beta      49
4   Alpha>Omega>Beta>Gamma      45
5   Alpha>Omega>Gamma>Beta      44
6   Beta>Alpha>Gamma>Omega      36
7   Beta>Alpha>Omega>Gamma      34
8   Beta>Gamma>Alpha>Omega      35
9   Beta>Gamma>Omega>Alpha      55
10  Beta>Omega>Alpha>Gamma      48
11  Beta>Omega>Gamma>Alpha      32
12  Gamma>Alpha>Beta>Omega      42
13  Gamma>Alpha>Omega>Beta      42
14  Gamma>Beta>Alpha>Omega      49
15  Gamma>Beta>Omega>Alpha      33
16  Gamma>Omega>Alpha>Beta      45
17  Gamma>Omega>Beta>Alpha      36
18  Omega>Alpha>Beta>Gamma      46
19  Omega>Alpha>Gamma>Beta      39
20  Omega>Beta>Alpha>Gamma      48
21  Omega>Beta>Gamma>Alpha      37
22  Omega>Gamma>Alpha>Beta      39
23  Omega>Gamma>Beta>Alpha      56

In [4]:
from comchoice.voting import Voting

In [5]:
choice = Voting(data)

In [6]:
borda = choice.borda()
plurality = choice.plurality()

In [7]:
display(borda)
display(plurality)

  alternative  value  rank
3     Omega   1546     1
2     Gamma   1505     2
0     Alpha   1486     3
1      Beta   1463     4

  alternative  value  rank
3     Omega    265     1
0     Alpha    248     2
2     Gamma    247     3
1      Beta    240     4

In [42]:
def corr(rules, alternative="alternative", column="rank", method="kendall"):
    output = []
    for key in rules.keys():
        tmp = rules[key][[alternative, column]]
        tmp["rule"] = key
        output.append(tmp)

    df = pd.concat(output, axis=0).pivot(index=alternative, columns="rule", values=column)
    df = df.reset_index()

    return df.corr(method)

In [43]:
corr(dict(
    Borda=borda, 
    Plurality=plurality)
)

rule          Borda  Plurality
rule
Borda      1.000000   0.666667
Plurality  0.666667   1.000000